@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap');
body, html{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.color-layer{
    position: fixed;
    z-index: -100;
}

.carousel{
    z-index: -99;
}
.carousel-item{
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}
.main-page{
    background-attachment: fixed;
    width: 100%;
    min-height: 871px;
}
.navbar{
    background-color: var(--bs-danger-text-emphasis);
    background-color: #3d0a91;
}
.main-box{
    opacity: 90%;
    font-family: 'Roboto', sans-serif;
}