@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,700;1,400&display=swap');

*{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #ffff
}
.title{
    color: #ffff;
    font-size: 60px;
}
.Tcontainer{
    margin-left: 60px;
    margin-top: 120px;
    width: 54%;
    height: 300px;
    padding: 10px;
    float: left;
    /* border: 1px solid white; */
}
.SS{
    float: right;
    margin-top: 120px;
    margin-right: 70px;
    width: 450px;
    height: 300px;
    /* border: 1px solid white; */

}

#firstpage{
    margin: 0px;
    height: 630px;
    width: 100%;
    background-color: #1F1F1F;
}

.red{
    margin: 0px;
    padding: 0px;
    height: 750px;
    width: 100%;
    background: 
    linear-gradient(
        to right,
        #ff3131,
        #ff914d);
}

.waves {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.waves svg {
    position: relative;
    display: block;
    width: calc(113% + 1.3px);
    height: 190px;
}

.waves .shape-fill {
    fill: #1F1F1F;
}
.slider {
    position: relative;
	
	
    border-radius: 67px 150px 109px 123px / 150px 60px 80px 68px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    
    
    
   
}
.images {
    display: flex;
    width: 100%;
    

}
.images img {
    height: 300px;
    width: 100%;
    transition: all 0.5s ease;
}
.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #FFCAE9 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover {background: #FFCAE9;}
#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}


.slider .images img{
	border-radius: 67px 150px 109px 123px / 150px 60px 80px 68px ; 
	
}
.SS{
    width: 30%;
    
}
.b{
    margin: 0;
}
.Icontainer{
    width: 40%;
    float: right;
    padding: 10px;
    margin-right: 30px;
    text-align: justify;
}
#intro{
   margin-left: 60px;
    font-size: 69px;
}
#bf{
    position: absolute;
    margin-top: 20px;
    height: 50px;
}

#bf:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 2s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.15s ease;
}
.cursor img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-bottom: 20px;
}

.image:hover + .cursor {
    transform: translate(-50%, -50%) scale(6);
    opacity: 1;
}

.butcontainer {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: none;
    float: left;
    margin: auto    ;
}

.cursor2 {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.15s ease;
}
.cursor2 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-bottom: 20px;
}
.image2:hover + .cursor2 {
    transform: translate(-50%, +50%) scale(6);
    opacity: 1;
}
.solcontainer {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: none;
    float: right;
    margin: auto;
}
.butsol-container{
    width: 50%;
    height: 450px;
    display: flex;
    flex-direction: row;
    float: left;
    border: 2px solid black;
}
.image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.image2 {
    max-width: 100%;
    max-height: 80%;
    width: auto;
    height: auto;
    object-fit: contain;
}

