*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

.embed {
    width: 500px;
    height: 281px;
}

header .brand{
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation{
    position: relative;
}

header .navigation .navigation-items a{
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: #000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
    width: 100%;
}

.heading {
    position: relative;
    left: 300px;
    font-family: "Playfair Display", serif;
    font-size: 10vw;
    color: black;
    width: 50%;
    text-align: center;
  }
  
  .subheading {
    position: relative;
    left: 300px;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: black;
    width: 50%;
    text-align: center;
  }
  
  @media screen and (min-width: 40em) {
    .heading {
      font-size: 6vw;
    }
  
    .subheading {
      font-size: 1.75vw;
    }
  }
  
  /*================================================
  Start Important Part
  ==================================================*/
  
  .underline--magical {
    background-image: linear-gradient(120deg, #ffd7b1 0%, #ffc478 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ffd7b1;
}

.home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background: clear;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content{
    z-index: 888;
    color: #fff;
    width: 100%;
    margin-top: 0;
    display: none;
}

.home .content.active{
    display: block; 
}

.home .content h1{
    font-size: 10vh;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p{
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}

.home .content a{
    background: #fff;
    padding: 15px 35px;
    color: #ffc478;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home .media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
}

@media (max-width: 1040px){
    header{
        padding: 12px 20px;
    }

    section{
        padding: 100px 20px;
    }

    .home .media-icons{
        right: 15px;
    }

    header .navigation{
        display: none;
    }
}

.home video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3 ease;
}

.slider-navigation .nav-btn.active{
    background: #ffd7b1;
}

.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
    transform: scale(1.2);
}

.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

section{
    padding: 100px 20px;
}

header .navigation{
    display: none;
}

header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
}

header .navigation .navigation-items a{
    color: #222;
    font-size: 1.2em;
    margin: 20px;
}

header .navigation .navigation-items a:before{
    background: #222;
    height: 5px;
}

header .navigation.active .navigation-items{
    background-color: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.menu-btn{
    background: url(menu.png)no-repeat;
    background-size: 40px;
    background-position: center;
    filter: invert(100%);
    width: 40px;
    height: 60px;
    cursor: pointer;
    transition: 0.3s ease;
}

.menu-btn.active{
    z-index: 999;
    background: url(close.png)no-repeat;
    background-size: 30px;
    background-position: center;
    transition: 0.3 ease;
}