@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
}

/* Video BG */

header {
    position: relative;
    background-color: black;
    height:65vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.65;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }

/*          */





#maintitle {
    text-align: right;
}

.mainname {
    text-decoration: none;
    font-size: 24px;
    font-weight:200;
    font-style: italic;
    text-align: right;
}

/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1200px) {
    #maintitle {
      font-size: 60px;
    }
  }
  /* If the screen size is smaller than 1200px, set the font-size to 80px */
  @media (max-width: 1199.98px) {
    #maintitle {
        padding: 12px 9px 0px 0px;
      font-size: 35px;
    }
  }

.nameanm {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: white;
  }
  
  .nameanm::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .nameanm:hover {
    margin: 5px;
    transform: scale(1.1);
    transition: all ease 300ms;
  }

  .nameanm:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


