@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
body, html {
    background-color: rgb(44, 44, 44);
}


header {
    position: relative;
    background-color: black;
    width: 100%;
    overflow: hidden;
    padding-top: 16px;
    padding-right: 25px;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.75;
    z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('../images/fourth.png') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }

  .title{
    margin:5px;
  }

  .maintitle {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin:5px;
    text-align:right;
    padding-right:5px;
    padding-bottom:10px;
    color: rgba(255, 255, 255, 0.925);
  }

.namemain{
    text-align: right;
    font-family: 'Poppins', sans-serif;
    opacity: 0.8;
    background-color: rgba(2, 2, 2, 0.63);
    padding:2px;
    border-radius: 8px;
}

.namecomma{
  color: rgba(255, 255, 255, 0.377);
}

.nameanm {
    text-decoration: none;
    font-weight: bold;
    color:unset;
    padding:2px;
    text-align:right;
}

  .nameanm::after {
    text-decoration: none;
    content: '';
    position: relative;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gold;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    border-radius: 5px;
    padding-bottom: 0.5px;
  }
  
  .nameanm:hover {
    position: relative;
    margin: 1px;
    transform: scale(1.1);
    transition: all ease 300ms;
  }
  .nameanm:hover::after {
    position: absolute;
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  

.pnav {
  background-color: rgba(94, 94, 94, 0.678);
  z-index:2;
}

article {
  font-family: Poppins, sans-serif;
}




