@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Krona+One&display=swap');

:root {
    --primary-color: #fff;
    --secondary-color: #0b4135;
}

body {
    background: url(imgs/background_1.jpg) fixed no-repeat left top;
    background-size: cover;
    font-family: 'DM Sans', sans-serif;
}

.title {
    font-family: 'Krona One', sans-serif;
    color: var(--primary-color);
}

#main {
    --bs-border-color: var(--primary-color);
    width: 90%;
    backdrop-filter: blur(8px);
    background-color: rgba(0,0,0,0.25);
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

#btn-container {
    background-color: var(--primary-color);
}

.topic-btn {
    --bs-btn-color: var(--secondary-color);
    --bs-btn-hover-color: var(--primary-color);
    --bs-btn-hover-bg: var(--secondary-color);
    --bs-btn-hover-border-color: var(--secondary-color);
    --bs-btn-active-color: var(--primary-color);
    --bs-btn-active-bg: var(--secondary-color);
    --bs-btn-active-border-color: var(--secondary-color);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    border-width: 0.1px;
    margin: 0 0.25rem;
}

#photosynthesis {
    width: 30%;
}

#main-part {color: var(--primary-color);}

#main-desc {
    color: var(--primary-color);
    font-family: 'Krona One', sans-serif;
}

#main-text {
    text-align: justify;
    color: var(--primary-color);
}

#liquid3-pics {
    width: 50%;
}

@media only screen and (max-width: 576px) {
    #liquid3-pics {width: 100%;}
}
.dummy{
    height: 200px;
    width: 200px;
    display: block;
}

.researchers-img{
    width: 300px;
    display: block;
}
