*{
    box-sizing: border-box
}
.mySlides{
    display: none
}
img{
    vertical-align: middle;
}
body{
    margin: 0;
    font-family: sans-serif;
}
nav{
    align-self: center;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 12px;
    position: relative;
}
nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
}
nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #2B9C3F;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.active{
    background: #2B9C3F;
    padding: 16px 6px;
    font-size: 14px;
    color: #fff;
    height: 56px;
}
.slideshow{
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px 24px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    text-align: center;
    margin-left: 10%;
}
.next {
    margin-right: 10%;
    right: 0;
    border-radius: 50%;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    color: #f2f2f2;
    font-size: 72px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    padding-bottom: 345px;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.mySlides fade img{
    padding: 0;
    display: flex;
}
