*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(media/kelp.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.logo{
    top: 0;
    left: 0;
    width: 70px;
    cursor: pointer;
}
.navbar{
    width: 90%;
    margin: auto;
    margin-right: 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: right;
    transition: 0.5s;
}
.content{
    color: #fbfcfd;
    position: absolute;
    top: 40%;
    left: 17%;
    transform: translateY(-50%);
    z-index: 2;
    text-align: center;
    transition: 0.3s;
}
.content h1{
    font-family: 'Montserrat';
    text-shadow: 3px 3px rgba(138, 165, 107, 0.434);
    letter-spacing: 7px;
    font-size: 80px;
    margin: 10px;
    line-height: 80px;
}
.content h3{
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 3px;
}
button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.but{
    transition: 0.3s;
    padding-top: 20px;
}
.but a{
    text-decoration: none;
}
span{
    width: 0;
    height: 100%;
    color: #043c1b;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    background-color: #82d05579;
    border: none;
}
.side-bar{
    width: 0;
    height: 100%;
    background: linear-gradient(#2986987a, #c1de6b72);
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
}
.social-links img{
    padding-left: 30px;
    width: 35px;
    margin: 5px;
    cursor: pointer;
}
.social-links{
    width: 20px;
    position: absolute;
}
.social{
    text-align: center;
    padding-top: 250px;
}
.menu{
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  cursor: pointer;
}
.meu{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    width: 30px;
}
.closebtn{
  position: absolute;
  padding-top: 15px;
  left: 15px;
  font-size: 30px;
  color: #fafffb;
  text-decoration: none;
}
.buto .closebtn:hover{
    color: #f1f1f196;
}
.fish-container{
    float: right;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
}
.fish-container img{
    position: absolute;
}
.fish1{
    top: 10%;
    right: -10%;
    float: right;
    width: 40px;
    transform: translateY(-50%);
    animation: fish1 10s linear infinite;
}
.fish2{
    top: 40%;
    right: -10%;
    float: right;
    width: 60px;
    transform: translateY(-50%);
    animation: fish2 12s linear infinite;
}
@keyframes fish1{
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    50%{
        opacity: 0.5s;
    }
    75%{
        opacity: 0.5s;
    }
    100%{
        transform: translateX(-250vh);
        opacity: 1;
    }
}
@keyframes fish2{
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(-350vh);
        opacity: 1;
    }
}
.bod{
    width: 100%;
    height: 100vh;
    background-image: url(media/underwater.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    line-height: 80%;
}



    