body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.Salt{
    float: left;
    height: 5px;
    width: 5px;
}

header{
    margin-top: 50px;
}

header, footer{
    background-color: lightgreen;
    padding: 1em;
    text-align: center;
}
article{
    margin-left: 10px;
}
.List_Temp{
    float: left;
    width: 200px;
    background-color: lightgreen;
    padding: 50px;
    margin-left: 40px;
    font-size: 80%;
    font-style: italic;
    box-shadow: 3px 5px 3px 1px green;
    position: relative; top: 40px;
}
.F1vid{
    float: right;
    width: 400px;
    margin-right: 40px;
    position: relative; top: 40px;
}
.Sprite1 {
    background: url('Sprites.png') -200px -37px;
	width: 30px;
	height: 31px;
    display: inline-block;
}
.Sprite2{
    background: url('Sprites.png') -202px -109px;
	width: 28px;
	height: 30px;
    display: inline-block;
}
.Sprite3{
    background: url('Sprites.png') -201px -147px;
	width: 29px;
	height: 24px;
    display: inline-block;
}
.Sprite4{
    background: url('Sprites.png') -200px -181px;
	width: 31px;
	height: 30px;
    display: inline-block;
}
.Sprite5{
    background: url('Sprites.png') -202px -220px;
	width: 27px;
	height: 25px;
    display: inline-block;
}
.Sprite6{
    background: url('Sprites.png') -103px -224px;
	width: 28px;
	height: 31px;
    display: inline-block;
}
.Sprite7{
    background: url('Sprites.png') -107px -110px;
	width: 24px;
	height: 25px;
    display: inline-block;
}
.Sprite8{
    background: url('Sprites.png') -50px -68px;
	width: 31px;
	height: 29px;
    display: inline-block;
}
.Sprite9{
    background: url('Sprites.png') -102px -71px;
	width: 28px;
	height: 25px;
    display: inline-block;
}
.Sprite10{
    background: url('Sprites.png') -101px -26px;
	width: 30px;
	height: 32px;
    display: inline-block;
}
.Sprite11{
    background: url('Sprites.png') -51px -27px;
	width: 27px;
	height: 31px;
    display: inline-block;
}

canvas{
    width:  600px;
    height: 400px;
    border: 1px solid green;
}