body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
}
.Hero-pics{
    background-image: url('Gif.gif');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.Hero-texts{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.And-I-think-to-myself{
    float: left;
    width: 40%;
    height: 80%;
}
.What-a-wonderful-world{
    text-align: center;
    height: 80%;
}
.Everything-is-on-fire{
    color: #4A9D83;
}
.Plant{
    position: relative;
    left: -10%;
    bottom: -26%;
}
.Zero{
    height: 100%;
    text-align: center;
    clear: left;
}
.Zero-Text{
    position: relative;
    top: 40%;
    color: white;
}
.One{
    background-color: #73E2AC;
    margin-left: -1%;
    margin-right: -4px;
    height: 100%;
    width: 33%;
    display: inline-block;
}
.One-Pic{
    height: 144px;
    width: 144px;
    position: relative;
    top: 30%;
}
.Two{
    background-color: #03C5AD;
    margin-right: -4px;
    height: 100%;
    width: 35%;
    display: inline-block;
}
.Three{
    background-color: #00B2C7;
    margin-right: -4px;
    height: 100%;
    width: 33%;
    display: inline-block;
}
.Learn{
    font-size: 5em;
    position: relative;
    top: -95%;
    left: 15px;
    color: white;
    text-align: left;
    margin: 0%;
    width: 70%;
}
.BigText{
    color: #73E2AC;
    margin-left: 10px;
}
.VPH{
    background-color: black;
    margin-top: 3em;
    margin-left: 50px;
    height: 200px;
    width: 400px;
    border-radius: 25px;
    display: inline-block;
    position: relative; 
    top: 30px;
    color: white;
    text-align: center;
}
.PPH{
    background-color: black;
    margin-top: 3em;
    height: 500px;
    width: 200px;
    border-radius: 25px;
    float: right;
    margin-right: 40px;
    position: relative; 
    top: 30px;
    color: white;
    text-align: center;
}
.MargTop{
    margin-top: 0;
}
.MargBott{
    margin-bottom: 0%;
}
.Phsynth{
    margin-top: 0;
    height: 100%;
    background-image: url(SynthBack.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.Leaf{
    height: 100%;
    background-image: url(Leaf.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.Climate{
    height: 100%;
    background-image: url(AgriBack.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.VVPH{
    background-color: black;
    margin-top: 3em;
    margin-left: 20px;
    height: 400px;
    width: 1000px;
    border-radius: 25px;
    display: inline-block;
    position: relative; 
    top: 30px;
    color: white;
    text-align: center;
}
.APH{
    background-color: #00B2C7;
    margin-top: 3em;
    height: 400px;
    width: 200px;
    border-radius: 25px;
    float: right;
    margin-right: 50px;
    position: relative; 
    top: 30px;
    color: white;
    text-align: center;
}
.DNA{
    height: 110%;
    background-image: url(DNABack.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.Future{
    height: 100%;
    background-image: url(EngiBack.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.VVVPH{
    background-color: black;
    margin-top: 3em;
    margin-left: 20px;
    height: 400px;
    width: 400px;
    border-radius: 25px;
    display: inline-block;
    position: relative; 
    top: 30px;
    color: white;
    text-align: center;
}
.AAPH{
    background-color: #4A9D83;
    margin-top: 3em;
    height: 532px;
    width: 600px;
    border-radius: 25px;
    float: right;
    margin-right: 50px;
    position: relative; 
    top: 0px;
    color: white;
    text-align: center;
}
.Game{
    height: 100%;
    width: 100%;
    display: none;
}
.GamePH{
    height: 100%;
    background-color: #00B2C7;
}
.TextPH{
    text-align: center;
    position: relative;
    top: 45%;
}
.Button{
    text-align: center;
    position: relative;
    top: 50%;
    left: 45%;
    font-size: 2em;
}
.Hide{
    display: none;
}
.Doxx{
    height: 130%;
    background-image: url(DoxxBack.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom 10%;
}
.DoxxHeader{
    text-align: center;
    width: 40%;
    font-size: 600%;
    color: #4A9D83;
    float: left;
}
.DoxxText{
    text-align: center;
    color: #03C5AD;
    margin-left: 10px;
    width: 40%;
    height: fit-content;
    position: relative;
    top: -2%;
    font-size: 30px;
    clear: left;
}
.SmallPlant{
    height: 37px;
    width: 33px;
    position: relative;
    top: -15%;
}
.Info{
    margin-left: 5px;
    margin-right: 5px;
    font-size: small;
}
.Floro{
    position: relative;
    top: -40%;
    margin-right: 3%;
    margin-left: 43%;
    height: 250px;
    width: 250px;
    background-color: #FFAB00;
    color: white;
    text-align: center;
    display: none;
}
.FloroText{
    position: relative;
    top: 13%;
}
.Eve{
    margin-right: 3%;
    position: relative;
    top: -40%;
    background-color: #4A9D83;
    height: 250px;
    width: 250px;
    color: white;
    text-align: center;
    display: none;
}
.EveText{
    position: relative;
    top: 13%;
}
.Zild{
    position: relative;
    top: -38%;
    background-color: #03C5AD;
    height: 250px;
    width: 250px;
    color: white;
    text-align: center;
    display: none;
}
.ZildText{
    position: relative;
    top: 10%;
}
.Bato{
    position: relative;
    top: -41%;
    margin-left: 43%;
    margin-right: 3%;
    background-color: #00B2C7;
    height: 250px;
    width: 250px;
    color: white;
    text-align: center;
    display: none;
}
.BatoText{
    position: relative;
    top: 13%;
}
.Sam{
    position: relative;
    top: -39%;
    margin-right: 3%;
    background-color: #FCE074;
    height: 250px;
    width: 250px;
    color: white;
    text-align: center;
    display: none;
}
.SamText{
    position: relative;
    top: 10%;
}
.Marita{
    position: relative;
    top: -29%;
    background-color: #73E2AC;
    height: 250px;
    width: 250px;
    color: white;
    text-align: center;
    display: none;
}
.MaritaText{
    position: relative;
    top: -11%;
}
.Cactus{
    border: none;
    background-color: transparent;
    position: relative;
    top: -3%;
    left: 15%;
}
.Dirt{
    position: relative;
    top: -8%;
    width: 100%;
}
.Soil{
    height: 110%;
    background-color: #884F21;
}
.SoilText{
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
}
.Salt{
    position: absolute !important;
    right: 0;
    bottom: 0;
    height: 5px;
    width: 5px;
}