html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
}
header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(files/bg.png);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
}
ul li{
	list-style-type: none;
}

/*the navbar styles goes here*/


/*introduction styles*/
.title h1{
	width: 80%;
	float: right;
	height: 150px;
	padding-top: 250px;
	color: white;
	font-family: 'Bebas Neue', cursive;
	text-shadow: 0 0 10px #003cff;
	font-size: 100px;
	animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e6e6, 0 0 40px #00b8e6, 0 0 50px #0004e6, 0 0 60px #003de6, 0 0 70px #0049e6;
	}
	
	to {
	  text-shadow: 0 0 20px #fff, 0 0 30px #00aeff, 0 0 40px #3b57f3, 0 0 50px #4db8ff, 0 0 60px #4ddbff, 0 0 70px #4ddbff, 0 0 80px #4df3ff;
	}
}
#content{
	  text-align: center;
	  margin: 100px;
	  flex: 1;
	  padding: 20px;
}
/*Members of the group and setups*/
.line{
	height: 20px;
	width: 100%;
	background: linear-gradient(90deg, rgb(0, 81, 255) 50%, transparent 50%);
	background-repeat: repeat-x;
	background-size: 16px 8px;
	animation: borderDance 8s infinite linear;	
  }
@keyframes borderDance {
	0% {
		background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
	  }
	  100% {
		background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
	  }
  }
#mem{
	background-color: #202020;
	border-radius: 20px;
	font-family: 'Bebas Neue', cursive;
	width: 100%;
	height: 500px;
	padding: 15px;
	color: #bbd6ff;
	margin-bottom: 40px;
}
div#mem h1{
	text-align: center;
	padding-bottom: 20px;
	font-size: 50px;
	color: #dbeaff;
}
div#first, div#second, div#third, div#fourth, div#fifth, div#sixth{
	width: 25%;
	float: left;
	margin: 20px 50px;
}
div#mem img{
	margin: 10px;
	height: 100px;
	width: 100px;
	float: left;
}
div#mem p{
	font-size: 15px;
}

/*supposedly the footer*/
.b-example-divider {
	width: 100%;
	height: 3rem;
	background-color: rgba(0, 0, 0, .1);
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
