/*The author is not used to using bootstrap so she decided to manually code everything.*/
body {
  background-color: white;
  color: #1e1e1e; 
}

.dark-mode {
  background-color: #1e1e1e;
  color: white;
}

/* navigation bar styles - sticky and dark green background */
header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 9;
}

/* nav bar buttons styles */
nav a, .btn {
  float: left;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 16px;
  margin: 5px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: #1e1e1e;
}

/* nav bar buttons link status styles */
nav a:link {
  background-color: #1e1e1e;
  color: white;
}

/* nav bar buttons hover status styles */
nav a:hover, .btn:hover {
  background-color: #1e1e1e;
  color: white;
}

/* nav bar logo visited status styles */
nav a.logo-link:hover {
  background-color: transparent;
  opacity: 0.85;
}

/* adjusts placement and size of logo */
nav img {
  height: 45px;
  width: auto;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
}

/* sets up margin and padding of logo to 0 */
nav a.logo-link { 
  margin:0; 
  padding:0; 
}

/* moves nav bar from left to right */
ul.navsec { 
  text-align:right; 
  margin-bottom: 0;
}

/* sets up nav bar design and placement */
nav li {
  /**--overflow: hidden;--**/
  list-style: none;
  text-align: justify;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

nav img {
  margin: 20px;
}

nav #theme-switcher { 
  cursor: pointer;
  width: 45px;
  height: auto;
}

nav #theme-switcher:hover { 
  opacity: 80%; 
}

.btn {
  border: none;
  transition: none;
}

.btn:hover, .btn:active, .btn.show {
  background-color: white !important;
  color:black;
}

.logo {
  margin: 0;
  padding: 0;
}

.logo:hover{
  background-color: #1e1e1e;
  opacity: 80%;
}

.dropdown-item{
  background-color: #343a40;
  width: 200px;
  height: auto;
  padding: 15px;
  color: white;
}

.dark-mode nav {
  background-color:#1e1e1e; 
}

.dark-mode .btn.btn-secondary{
  background-color: #1e1e1e !important;
  color: white !important;
}

.dark-mode nav a {
  background-color:#1e1e1e; 
  color: white;
}

.dark-mode nav li a:hover {
  background-color: white;
  color: #1e1e1e;
}

.logo, .logo:hover{
  background-color: transparent !important;
}

.dark-mode .logo, .logo:hover{
  background-color: transparent !important;
  opacity: 80%;
}

.btn{
  background-color: white;
  color: #1e1e1e;
}

.btn:hover{
  background-color: #1e1e1e !important;
  color: white !important;
}

.dark-mode .btn:hover{
  background-color: white !important;
  color: #1e1e1e !important;
}
.nav a.logo { 
  background:none; 
}

.dark-mode nav img:hover { 
  opacity: 80%;
}

.bgcolor {
  background-color: 245, 245, 245, 0.3;
}

/*different*/
.tm-banner-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 575px;
}

.tm-banner-section video {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -60%);
  min-width: 100%;
  min-height: 100%;
}

.tm-banner-text-container {
  position: relative;
  z-index: 1;
  color: #1e1e1e;
  text-align: center;
  max-width: 520px;
}

.dark-mode .tm-banner-text-container {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  max-width: 520px;
}

.tm-banner-title {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 40px;
}

.tm-banner-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 500px;
}

/*.footerstyle {
  
}*/

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  padding: 60px 30px;
  transition: all ease-in-out 0.3s;
  background: #fefefe;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
  border-radius: 18px;
  border-bottom: 5px solid #fff;
}

.dark-mode .services .icon-box {
  padding: 60px 30px;
  transition: all ease-in-out 0.3s;
  background: #1e1e1e;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
  border-radius: 18px;
  border-bottom: 5px solid #1e1e1e;
}

.services .icon-box .icon {
  width: 64px;
  height: 64px;
  background: #1e1e1e;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.dark-mode .services .icon-box .icon {
  width: 64px;
  height: 64px;
  background: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
  color: #1e1e1e;
}

.services .icon-box .icon {
  width: 64px;
  height: 64px;
  background: #1e1e1e;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.dark-mode .services .icon-box .icon {
  width: 64px;
  height: 64px;
  background: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
  color: #1e1e1e;
}

.services .icon-box .icon i {
  font-size: 28px;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #1e1e1e;
  transition: ease-in-out 0.3s;
}

.dark-mode .services .icon-box h4 a {
  color: white;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  transform: translateY(-10px);
  border-color: #1e1e1e;
}

.dark-mode .services .icon-box:hover {
  transform: translateY(-10px);
  border-color: white;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 30px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #8fffd6;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 75px;
  height: 3px;
  background: #1e1e1e;
  bottom: 0;
  left: 0;
}

.dark-mode .section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 75px;
  height: 3px;
  background: white;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
  color: #1e1e1e;
  font-size: 15px;
}

.dark-mode .section-title p {
  margin-bottom: 0;
  color: white;
  font-size: 15px;
}

article {
  padding: 0px 120px;
}