@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --text-color: #444440;
}

* {
    font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    outline: none;
    border: none;
	text-decoration: none;
    list-style-type: none
}

body {
    background-color:#f8e6b8;
}

nav     {
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    background-color:#FFF0CA;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
}

.sidebar ul {
    margin:0;
    padding:0;
}

.sidebar a {
    position: relative;
    line-height: 10px;
    color: var(--text-color);
    font-size: 17px;
    font-weight: bold;
    display: table;
    width: 300px;
    padding: 15px;
    padding-left: 9.5px;
}

.sidebar .fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 10px;
    font-size: 20px;
    text-align: center;
}

.sidebar .item {
    position: relative;
    top: 8.7px;
    margin-left: 12px;
}

.sidebar a:hover {
    background: #DBD2B8;
    transition: all 0.2s ease;
}

.sidebar:hover {
    width: 290px;
    transition: all 0.5s ease;
}
  
.home {
    min-height: 100vh;
	background: url(images/bg.png) no-repeat;
	background-position: center;
	background-size: cover;
    box-shadow: 0 20px 35px rgba(0,0,0,0.07);
}

.home .text {
    padding-top: 187px;
    padding-left: 150px;
    width: 60%;
    color: var(--text-color);
    text-align: left;
}

.home .text p {
	padding-bottom: 5px;
    font-size: 17px;
}

.home .text h1 {
	font-weight: bold;
	font-size: 5rem;
    line-height: 100px;
    padding-bottom: 20px;
}

.home .text h3 {
    font-weight: 400;
	font-size: 20px;
    line-height: 32px;
}

.home .btn {
    display: inline-block;
    margin-top: 1.3rem;
    border-radius: 2rem;
    background: #FFEDBE;
    color: var(--text-color);
    padding:.4rem 2.6rem;
    cursor: pointer;
    font-size: 1.1rem;
}

.home .btn:hover {
    background: #DBD2B8;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}
  
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 25px; 
    position: relative;
    color: var(--text-color);
    width: 50%;
    left: 25%;
}
  
.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #dddddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
  
.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: chocolate;
    bottom: 0;
    left: calc(50% - 20px);
}

.desc {
    padding-top: 50px;
	width: 100%;
}

.desc .container {
    padding-left: 70px;
}

.desc p {
    font-size: 17px;
}

.desc .img-fluid {
    padding-top: 100px;
}

.conc {
    padding-top: 37px;
	width: 100%;
}

.app {
    padding-top: 50px;
	width: 100%;
}

.ref {
    padding-top: 50px;
	width: 100%;
}

.res {
    padding-top: 50px;
	width: 100%;
}
